.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-apartment {
  font-weight: bold;
}

.logout-button {
  border: none;
  background: none;
  cursor: pointer;
}

.logout-icon {
  width: 30px;
  height: 30px;
}
