.problems-box {
  background-color: #ededed;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 200px;
  display: flex;
  flex-direction: column;
}

.problems-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.problems-header h3 {
  margin: 0;
}

.new-problem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-problem {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  height: 20px;
}

.add-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.add-icon {
  width: 24px;
  height: 24px;
}

.problems-list-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 0px;
}

.problems-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.problem-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.delete-icon {
  width: 24px;
  height: 24px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
