.settings-page {
  display: flex;
  height: 100vh;
  background-color: #dbdbdb;
}

.main-content {
  flex-grow: 1;
  background-color: #dbdbdb;
  padding: 20px;
}

.settings-content {
  background-color: #ededed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.settings-form h2 {
  font-size: 1.5rem;
  color: #263268;
  margin-bottom: 10px;
}

.input-field {
  width: 98%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #dbdbdb;
  font-size: 1rem;
}

.input-field:focus {
  border-color: #263268;
  outline: none;
}

.save-btn {
  background-color: #263268;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-start;
}

.save-btn:hover {
  background-color: #4053ac;
}

label {
  font-weight: bold;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.current-email {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #333;
  background-color: #dbdbdb;
  padding: 10px;
  border-radius: 8px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
