body {
  background-color: #dbdbdb;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.settings-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.settings-content {
  margin-bottom: 20px;
}

.settings-box,
.new-user-box {
  background-color: #ededed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.settings-form,
.new-user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.label-text {
  font-size: 1rem;
  font-weight: bold;
  color: #263268;
}

.current-email,
.input-field {
  width: 100%;
  height: 32px;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #dbdbdb;
  font-size: 0.9rem;
  color: #333;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.input-field:focus,
.input-field:hover {
  border-color: #263268;
  background-color: #dbdbdb;
  outline: none;
}

.new-email {
  margin-top: 10px;
}

.old-password {
  margin-top: -10px;
}

.shared-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.save-btn {
  height: 40px;
  padding: 10px 20px;
  background-color: #263268;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #4053ac;
}

h1 {
  font-size: 2rem;
  color: #263268;
  margin-bottom: 20px;
}

.settings-page {
  padding-bottom: 40px;
}
