.voting-box {
  background-color: #ededed;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 200px;
  overflow-y: auto;
}

.voting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.add-icon {
  width: 20px;
  height: 20px;
}

.voting-results {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.voting-results li {
  margin-bottom: 5px;
}


/* Hlava hlasovania */
.voting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Názov hlasovania */
.vote-title {
  cursor: pointer;
  color: blue;
}

/* Tlačidlo pre vymazanie hlasovania */
.delete-btn1 {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 2em;
}

/* Tlačidlo pre odpoveď */
.vote-answer-btn {
  margin-right: 10px;
}

/* Text, ktorý zobrazuje, že užívateľ hlasoval */
.voted-text {
  color: green;
  margin-left: 10px;
}

/* Tlačidlo pre vymazanie hlasu */
.remove-vote-btn {
  margin-top: 10px;
  background-color: orange;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}
